<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GAGGAR ENTERPRISE</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/static/img/logo.png" rel="icon">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/style_2.css" rel="stylesheet">

</head>

<body>
    {% include "header.html" %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3">Cookies Policy</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a href="">Home</a></h6>
            <h6 class="text-white m-0 px-3">/</h6>
            <h6 class="text-uppercase text-white m-0">Cookies Policy</h6>
        </div>
    </div>
    <!-- Page Header Start -->

    <!-- About Start -->
    <div class="container-fluid py-6 px-4 px-lg-5">
        <h1>Cookies Policy</h1>
        <hr class="text-primary pb-2 mb-3">

        <p>This Cookie Policy explains how we use cookies and similar technologies to recognize you when you visit our website. It explains what these technologies are and why we use them, as well as your rights to control our use of them.</p>
        <br>
   
        <br>
        <p><b>What are cookies?</b></p>
        <p>Cookies are small pieces of text sent by your web browser by a website you visit. A cookie file is stored in your web browser and allows the Website or a third-party to recognize you and make your next visit easier and the Website more useful to you.</p>

        

        <br>
        <p><b>How do we use cookies?</b></p>
        <p>When you use and access the Website, we may place a number of cookies files in your web browser. We use cookies for the following purposes:</p>

        <ul>
            <li>Essential cookies: These cookies are necessary for the Website to function properly. They enable core functionality such as security, network management, and accessibility. You may disable these by changing your browser settings, but this may affect how the Website functions.</li>
            <br>
            <li>Analytics cookies: These cookies allow us to track and analyze user behavior on the Website. This helps us understand how visitors interact with the Website and improve our services accordingly.</li>
        </ul>

        

        <br>
        <p><b>What types of cookies do we use?</b></p>
        <ul>
            <li>Session cookies: These are temporary cookies that are erased when you close your browser. They are used to ensure that you are recognized when you move from page to page within the Website and that any information you have entered is remembered.</li>
            <br>
            <li>Persistent cookies: These cookies remain on your device for a set period of time or until you delete them. They are used to recognize you when you return to the Website and remember your preferences.</li>
        </ul>

        

        <br>
        <p><b>How to control cookies</b></p>
        <p>You can control and manage cookies in various ways. Please refer to your browser's help menu for more information on how to manage your cookie settings. You can also opt-out of certain cookies by adjusting your browser settings or by using the opt-out tools provided by third-party analytics providers.</p>

        

        <br>
        <p><b>Changes to this Cookie Policy</b></p>
        <p>We may update our Cookie Policy from time to time. We will notify you of any changes by posting the new Cookie Policy on this page.</p>

        

        <br>
        <p><b>Contact Us</b></p>
        <p>If you have any questions about our Cookie Policy, please contact us.</p>

        By using our Website, you consent to our use of cookies in accordance with this Cookie Policy.
    </div>
    <!-- About End -->

    {% include "footer.html" %}

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/easing/easing.min.js"></script>
    <script src="/static/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/static/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/static/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/js/main.js"></script>
</body>

</html>